
/****样式控制，非布局*/
body {
    margin:0px 0px 0px 0px;
    font-family: 微软雅黑;
    font-size: 13px;
}

.bxLayout {
    width:100%; 
}

    .bxLayout > .top { 
        margin-left:2px;
        margin-right:2px;
        border:1px solid #95B8E7; 
        height:80px;
    }

    .bxLayout > .Left {
         border:1px solid #95B8E7; 
         width:180px;
    }

    .bxLayout > .Right {
        border:1px solid #95B8E7;  
    }

.bxDialog {
    z-index: 99999999999; 
    background-color:white;
    border: 1px solid white;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    background-clip: padding-box;
}

.bxDialogHeader {
    border-top-left-radius:3px;
    border-top-right-radius:3px; 
    height:28px;
}
.bxDialogTitle {
    padding-top:3px;
    text-align:center;
    font-family: 微软雅黑;
    font-size: 15px;
}
.bxDialogClose {
    position:absolute;
    right:15px;
    top:5px; 
    cursor:pointer;
}
 